# <center>Pandas Python Library for Beginners in Data Science
#### <center>Instructor: Vinita Silaparasetty

### Import Libraries

In [1]:
import numpy as np
import pandas as pd

# <center> Creating a Series

<img src="https://github.com/VinitaSilaparasetty/Coursera-Pandas-for-Beginners/blob/master/Media/series.png?raw=true" width="600" height="600">

### <center> Method 1: Using an Array

In [3]:
s = ([1,np.nan, 'Pandas Library'])
s1 = pd.Series(s)
s1

0                 1
1               NaN
2    Pandas Library
dtype: object

## <center>üèÜ Challenge

Create a Pandas Series, named s2, containing the following:

* Integer = 2

* Nan value

* Character = b

unaSerie = ([2,np.nan, "b"])
s2 = pd.Series(s)
s2

### <center> Method 2: Using a List

In [5]:
list1 = ['animal', '2', 'animal']
s3 = pd.Series(list1)
s3

0    animal
1         2
2    animal
dtype: object

## <center>üèÜ Challenge

Create a Pandas Series, named s4.
Use a list, named list2, containing the following:

* Integer = 3

* Character = c

* String = Numpy 

Note:'N' Must be capital

In [6]:
list2 = [3,'c','Numpy']
s4 = pd.Series(list2)
s4

0        3
1        c
2    Numpy
dtype: object

### <center> Method 3: Using a Dictionary

In [8]:
s5 = pd.Series(
 {'A':1,
  '3':'Python',
 })
s5

A         1
3    Python
dtype: object

## <center>üèÜ Challenge

Create a Pandas Series, named s6, containing the following:

* 'Integer' = 3
* 'B' = Boys

In [9]:
s6 = pd.Series({
    'Integer':3,
    'B':'Boys'
})
s6

Integer       3
B          Boys
dtype: object

# <center> Creating Data Frames

<img src="https://github.com/VinitaSilaparasetty/Coursera-Pandas-for-Beginners/blob/master/Media/dataframe.gif?raw=true" width="600" height="600">

### <center> Method 1: Passing a Numpy Array

In [10]:
df = pd.DataFrame(np.random.randn(6,4))
df

          0         1         2         3
0 -0.657926  0.055906 -3.198474  0.410534
1 -0.206612  1.082780 -0.125843  0.246152
2 -0.241666  0.046516 -0.215907 -2.192446
3  0.074820 -0.061437  1.876366  0.560862
4  0.649225 -0.292091  1.382407 -2.074432
5  0.067949  0.415566 -0.489405 -0.222743

## <center>üèÜ Challenge

Create a data frame, named df1, which contains:

* A randomly generated array with the dimensions 3x3.

In [11]:
df1 = pd.DataFrame(np.random.rand(3,3))
df1

          0         1         2
0  0.522529  0.758523  0.930131
1  0.423809  0.614140  0.939476
2  0.220285  0.517959  0.867481


### <center> Method 2: Passing a Dictionary of Objects

In [12]:
df2 = pd.DataFrame({
    'A':1,
    'number':np.array([6]*3,dtype='int32'),
})
df2

   A  number
0  1       6
1  1       6
2  1       6

## <center>üèÜ Challenge

Create a data frame, named df3, which contains:

* 'E' = np.array([4] * 5,dtype='int32')

* 'Day' = 2

In [15]:
df3 = pd.DataFrame({
    'E':np.array([4]*5, dtype='int32'),
    'Day':2
})
df3

   E  Day
0  4    2
1  4    2
2  4    2
3  4    2
4  4    2

--------

## <center> Importing Files

### Import .csv files

Use the file path: /home/rhyme/Desktop/Project/

(Note: If you want to use this command for a file on your own system, be sure to use the correct file path.)

-----------------

## <center>üèÜ Challenge
    
Import the file practicedata.json in the dataframe df5.

Use the file path: /home/rhyme/Desktop/Project/

### Importing Files from a url

Import data from this github repo: https://raw.githubusercontent.com/VinitaSilaparasetty/Coursera-Pandas-for-Beginners/master/practicedata.csv")

## <center>üèÜ Challenge
    
Create the data frame df7.

Then import data from this github repo: https://raw.githubusercontent.com/VinitaSilaparasetty/Coursera-Pandas-for-Beginners/master/practicedata.json

## <center> Export Files

### Export .csv Files

## <center>üèÜ Challenge

Export the data from df4 to 'practicedata2.json'

Use the file path:/home/rhyme/Desktop/Project/

## <center>Data Summary
    
We will be working with data frame df6 for this section.

In [ ]:
#first run this cell to create the data frame df6
df6 = pd.read_csv("https://raw.githubusercontent.com/VinitaSilaparasetty/Coursera-Pandas-for-Beginners/master/practicedata.csv")
df6

### Quick Summary of Data

### Detailed Summary of Data

## <center>View Columns

## <center>üèÜ Challenge
    
View the columns in df7.

In [ ]:
#first run this cell to create the data frame df7
df7 = pd.read_json("https://raw.githubusercontent.com/VinitaSilaparasetty/Coursera-Pandas-for-Beginners/master/practicedata.json")
df7

## <center>View Datatypes

## <center>üèÜ Challenge
    
View the datatypes in df7

## <center>Handling Duplicates

### Detect Duplicate Rows

### Drop Duplicate Rows

## <center>üèÜ Challenge
    
Detect and drop duplicates in df7

In [ ]:
#Detect duplicates

In [ ]:
#Drop duplicates

## <center>Handling Missing Values

### Detect Missing Values

### Drop Missing Values

## <center>üèÜ Challenge
    
Detect and drop missing values in df7

In [ ]:
#Detect missing values

In [ ]:
#Drop missing values

## <center>Numeric Operations

We will work with the data frame df8.

In [ ]:
#first run this cell to create the dataframe df8
df8 = pd.DataFrame(np.random.randn(6,4))
df8

### Calculate the Mean:

## <center>üèÜ Challenge
    
Calculate the mean of df9

In [ ]:
#first run this cell to create df9
df9 = pd.DataFrame(np.random.randn(3,4))
df9

### Calculate the Cumulative Sum:

## <center>üèÜ Challenge
    
Calculate the cumulative sum of df9

### Find the Maximum Value:

## <center>üèÜ Challenge

Find the maximum value of df9

### Find the Minimum Value:

## <center>üèÜ Challenge

Find the minimum value of df9

## <center>String Manipulation

We will work with the series s7 for this section.

In [ ]:
#first run this cell to create series s7
s7 = np.array(['animal','bird',' Pandas Library  '] )
s7= pd.Series(s7)
s7

### Convert to Lower Case

## <center>üèÜ Challenge

Convert the strings in s8 to lower case.

---------------

### Convert to Upper Case

## <center>üèÜ Challenge

Convert the strings in s8 to upper case.

### Swap Capitalization

## <center>üèÜ Challenge

Swap the capitalization of the strings in s8.

### Find Length of String

## <center>üèÜ Challenge

Find the length of the strings in s8.

-------------

### Split String

## <center>üèÜ Challenge

Find the length of the strings in s8.

In [ ]:
#first run this cell to create the series s8
s8 = np.array(['cat','dog',' Python Programming  '] )
s8= pd.Series(s8)
s8

### Detect Unique Values

## <center>üèÜ Challenge

Detect unique values in s8.

### Repeat String

We will work with the series s7 for this section.

In [ ]:
#first run this cell to create series s7
s7 = np.array(['animal','bird',' Pandas Library  '] )
s7= pd.Series(s7)
s7

## <center>üèÜ Challenge

Repeat the values in s8 in the order [1,2,3]

In [ ]:
## <center>üèÜ Challenge

Repeat the values in s8 in the order [1,2,3]